#search-input {
    padding: 6px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
}
#clear-input {
    position: absolute;
    top: 4px;
    left: 12px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  #clear-input svg {
    width: 24px;
    height: 24px;
    fill: #666;
  }
  