.nav {
  width: 100%;
  /* background-color: #181818; */
  /* border-bottom: 1px solid #222324; */
  /* margin-bottom: 20px; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  direction: rtl;
}

.mega-container {
  height: 100vh;
  display: flex;
  flex-direction: column;

  /* overflow: hidden; */
}


.HeaderIcons {
  margin-right: 10px;
  height: 20px;
  width: 20px;
  filter: brightness(1.5);
}

.loader {
  background-image: url('../../../public/1.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-content-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  padding: 2rem;
}