.header {
    background-color: #18181845;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.logo {
    height: 40px;
}

.logoShabas {
    height: 60px;
}

.logoDigital {
    height: 60px;
}