.mobile-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    background: black;
    position: relative;
    --icon-color: #91910d;
    --backgraound-image:url('../../../public/mobileMain.png');
    padding-top: 7rem;
}

.mobile-screen::after {
    content: '';
    width: 375px;
    height: 1021px;
    background-image: var(--backgraound-image);
    background-size: contain;
    background-position: center;
    padding: 20px;
}

.app-icon {
    position: absolute;
    top: 38.6rem;
    left: calc(50% + 0.1rem);
    fill: var(--icon-color);
    animation: fill-animation 1.5s infinite;
    cursor: pointer;
    height: 72px;
    width: 72px;
}

@keyframes fill-animation {
    0% {
        fill: var(--icon-color);
    }

    50% {
        fill: red;

    }

    100% {
        fill: var(--icon-color);
    }
}