.arrived-button {
  background-color: #205ad7;
  color: white;
  border: none;
  padding: 6px 11px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 5.8rem;
}

.arrived-button:hover {
  background-color: #092e7d;
}

.arrived-button:disabled {
  background-color: #307d09;
  cursor: not-allowed;
}

.filtered-responders-container {
  /* padding: 20px; */
  padding: 100px;
  padding-top: 50px;
}

.page-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.responder-details {
  place-items: start;
  line-height: 1;
  flex-grow: 1;
}

.content-wrapper {
  display: flex;
  flex-direction: row-reverse;
  /* Ensures responders list is on the right */
  gap: 20px;
}

.map-container {
  flex: 3 1;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  height: 80vh;
}

.responders-list-container {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.responders-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.responder-card {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
  text-align: right;
  /* Align text to the right */
}

.responder-card:hover {
  background-color: #f1f1f1;
}

.responder-card h3 {
  margin: 0 0 10px 0;
  color: #007bff;
}

.responder-card p {
  margin: 5px 0;
  color: #555;
}

.no-responders-message {
  text-align: center;
  padding: 20px;
}

.back-button {
  /* width: 30%; */
  /* padding: 10px; */
  margin: 10px;
  height: 70px;
  width: 200px;
  font-size: 18px;
  color: #fff;
  background-color: #f91307;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #900606ee;
}

.additional-content {
  display: flex;
  place-self: flex-start;
  flex-direction: column-reverse;
  align-items: self-end;
}

.centered-role {
  text-align: center;
  /* Ensures the text is centered */
  margin: 0;
  /* Removes default margin */
}