.arrived-button {
  background-color: #205ad7;
  color: white;
  border: none;
  padding: 6px 11px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 5.8rem;
}

.arrived-button:hover {
  background-color: #092e7d;
}

.arrived-button:disabled {
  background-color: #307d09;
  cursor: not-allowed;
}

.filtered-responders-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    padding: 2rem;
    flex-grow: 1;
}

.page-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.responder-details {
  place-items: start;
  line-height: 1;
  flex-grow: 1;
}

.map-container {
  flex: 3 1;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.responders-list-container {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.responders-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.responder-card {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
  text-align: right;
  /* Align text to the right */
}

.responder-card:hover {
  background-color: #f1f1f1;
}

.responder-card h3 {
  margin: 0 0 10px 0;
  color: #007bff;
}

.responder-card p {
  margin: 5px 0;
  color: #555;
}

.no-responders-message {
  text-align: center;
  padding: 20px;
}

.back-button {
  /* width: 30%; */
  /* padding: 10px; */
  margin: 10px;
  height: 70px;
  width: 200px;
  font-size: 18px;
  color: #fff;
  background-color: #f91307;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #900606ee;
}

.additional-content {
  display: flex;
  place-self: flex-start;
  flex-direction: column-reverse;
  align-items: self-end;
}

.centered-role {
  text-align: center;
  /* Ensures the text is centered */
  margin: 0;
  /* Removes default margin */
}
.chazlash-button {
  background-color: #F7DC6F; /* Yellow color */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.5); /* Shining border */
  transition: box-shadow 0.3s ease-in-out;
  float: inline-end;
}

.chazlash-button:hover {
  box-shadow: 0 0 20px rgba(255, 255, 0, 0.8); /* Increase shining effect on hover */
}

.chazlash-button:active {
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.5); /* Decrease shining effect on active */
}
.map-and-list-container{
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  gap: 2rem;
  flex-grow: 1;
}