.App {
  text-align: center;
}

* {
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: 'Heebo';
  src: url('../public/fonts/Heebo-Thin.ttf') format('truetype'); /* Adjust the path if needed */
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('../public/fonts/Heebo-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('../public/fonts/Heebo-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('../public/fonts/Heebo-Regular.ttf') format('truetype');
  font-weight: 400; /* Default weight (Regular) */
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('../public/fonts/Heebo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('../public/fonts/Heebo-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('../public/fonts/Heebo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('../public/fonts/Heebo-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('../public/fonts/Heebo-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: 'Heebo' !important;
  font-weight: 400; /* Regular */
  direction: rtl;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}